body {
  font-family: 'Open Sans', sans-serif;  
}

.container {
  text-align: center;
  background-color: rgb(218, 215, 222);
}

ul, q, p {
  font-size: 15px;
}

.text-center {
  color: purple;
}

h5 {
	font-size: 5px
}